<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img src="assets/images/svg/school.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Upadhyay
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngFor="let labelData of config.navLabels">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': currentPath === getChildPath(labelData.path)}" (click)="navigateToChild(labelData.path)">{{labelData.label}}</a>
        </li>
      </ul>
    </div>
  </nav>